extends layout.pug

block content
  .content.notes-content
    .note-list-entry__wrapper
      .note-list-entry
        h1 #{title}
        .published Published at #{date}
        article !{content}
        .published
          p Categories:
            each category in meta.category.split(', ')
              - const cat = category.toLowerCase()
              - const url = `/notes/?category=${cat}`
              a(href=url, class='category-link') #{cat}
          p Tags:
            each tag in meta.tags.split(', ')
              - const tagg = tag.toLowerCase()
              - const url = `/notes/?tag=${tagg}`
              a(href=url, class='category-link') #{tagg}
