extends layout.pug

block content
  .content.notes-content
    .main-container.projects-list-wrapper
      .projects-list
        ul.projects
          each item, index in list.length ? list : ['No entries yet.']
            - const parsedDate = item.meta.date.split('/').map(obj => parseInt(obj)).join('-')
            if !item.meta.hidden
              li(data-date=parsedDate, data-category=item.meta.category, data-tags=item.meta.tags)
                  .title #{item.meta.title}
                    if item.meta.image
                      img(src=item.meta.image, width=20)
                  div !{item.content}
                  .links
                    - repo = item.meta.repo
                    - demo = item.meta.demo
                    - npm = item.meta.npm
                    - changelog = item.meta.changelog
                    - link = item.meta.link
                    if repo
                      a.button(href=repo, target='_blank') &laquo; Repository
                    if demo
                      a.button(href=demo, target='_blank') &laquo; Demo
                    if npm
                      a.button(href=npm, target='_blank') &laquo; npm
                    if link
                      a.button(href=link, target='_blank') &laquo; Link
                    if changelog
                      a.button(href=changelog, target='_blank') &laquo; Changelog
